<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'case/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/rare.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
  <title>{{ title }}</title>
</head>
<body>
  {% include 'main/module/header.html' %}
  <div class="conteiner_rullete">
    <h1 class="title_case">{{ title }}</h1>
    <div class="case_im">
      <img class="case" src="{{ img_case.url }}" alt="case love">
    </div>
    <div class="app">
      <img class="pointer hidden" src="{% static 'case/pointer.svg' %}" alt="">
      <div class="scope hidden">
        <ul class="list"></ul>
      </div>
        <div class="content_start">
          {% if request.user.is_authenticated %}
            {% if keys_count == 0 %}
              <p class="case-none">У вас нет ключей!</p>
            {% else %}
              <p class="case-ended-message hidden">Предметы в этом кейсе кончились!</p>
              <button onclick="start()" class="start hidden">ОТКРЫТЬ</button>
            {% endif %}
          {% else %}
            <p class="not_user">Авторизуйтесь для открытия!</p>
          {% endif %}
        </div>
    </div>
    <div class="disply_items">
      <div class='mini_title'>
        <h2>Содержимое кейса</h2>
      </div>
      <div class="list_items_mini">
        <ul class="list_new_items">
          {% for item in items %}
            <li data-item="{{ item.name }}" class="list__item gradient_{{ item.rare }}">
              <div class="img_items">
                <img class='img_card' src="{{ item.img.url }}" alt="{{ item.name }}">
              </div>
              <div class="title_items">
                <p>{{ item.name }}</p>
              </div>
            </li>
          {% endfor %}
        </ul>
    </div> 
    </div>
  </div>
  <audio id="audio_open" src="{% static 'mp3/buttonclickrelease.mp3' %}" preload="auto"></audio>
  <audio id="audio_open_start" src="{% static 'mp3/go-new-gambling.mp3' %}" preload="auto"></audio>
  <audio id="audio_win" src="{% static 'mp3/win.mp3' %}" preload="auto"></audio>
  <script src="{% static 'JS/main.js' %}"></script>
  {% include 'main/module/footer.html' %}
</body>
</html>
