<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'case/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/rare.css' %}">
  <title>Открытие кейса</title>
</head>
<body>
  <div class="conteiner_rullete">
    <h1 class="title_case">ЛЮБОВНЫЙ</h1>
    <div class="case_im">
      <img class="case" src="../../media/case/new_free_4_1.webp" alt="case love">
    </div>
    <div class="app">
      <img class="pointer hidden" src="{% static 'case/pointer.png' %}" alt="">
      <div class="scope hidden">
        <ul class="list"></ul>
      </div>
      <button onclick="start()" class="start">ОТКРЫТЬ</button>  
    </div>
  </div>
  <script src="{% static 'JS/main.js' %}"></script>
</body>
</html>
