<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Проверка хеша</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hasch.css' %}">
    <script defer src="{% static 'JS/hash.js' %}"></script>
</head>
<body>
    {% include 'main/module/header.html' %}
    <div class="content_forms">
        <h1>Проверка хеша</h1>
        <form id="hashForm" method="get" action="/provablyfair/">
            <label for="hash">Введите хеш:</label><br>
            <input type="text" id="hash" name="hash"><br><br>
            <input type="button" value="Проверить" onclick="checkHash()">
        </form>
    </div>
    <div id="result"></div>
</body>
</html>
