<!DOCTYPE html>
<html lang="ru">

    <head>
        {% load static %}
        <title>BIGPencil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="BIGPencil">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    </head>
    <body>
        {% include 'main/module/header.html' %}
        <main class="styles-main">
            <div class="gif-box">
                <p>фирменный кейс<br>большой джекпот</p>
                <div class="button-style">
                    <button class="styles-button" type="submit">открыть</button>
                </div>
            </div>
            <div class="boxCase">
                <div class="style-text-case1">
                    <h1>новые кейсы</h1>
                    <p>Самые лучшие призы</p>
                </div>
                <div class="caseContainer">
                    {% for case in cases %}
                    <div class="box-Case">
                        <div class="img-Case">
                            <img class="img_case" src="{{ case.img_certificates.url }}" alt="{{ case.name }}">
                        </div>
                        <p>{{ case.name }}</p>
                        <div class="button_style">
                            <a href="/case/{{ case.id }}">
                            <input class="styles-button" tupe="button" value="Открыть">  
                            </a>                       
                    </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="style-text-case1">
                    <h1>популярные кейсы</h1>
                    <p>Самые лучшие призы</p>
                </div>
                <div class="caseContainer">
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'main/module/footer.html' %}
    </body>
</html>