<!DOCTYPE html>
<html lang="ru">

    <head>
        {% load static %}
        <title>BIGPencil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="BIGPencil">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    </head>
    <body>
        {% include 'main/module/header.html' %}
        <main class="styles-main">
            <div class="gif-box">
                <p>фирменный кейс<br>весенний</p>
                <div class="button-style">
                    <form action="{{ settings.SITE_URL }}case/4/">
                        <button class="styles-button" type="submit">открыть</button>
                       </form>  
                </div>
            </div>
            <div class="boxCase">
                <div class="style-text-case1">
                    <h1>новые кейсы</h1>
                    <p>Самые лучшие призы</p>
                </div>
                <div class="caseContainer">
                    {% for case in cases %}
                    <div class="box-Case">
                        <div class="img-Case">
                            <img class="img_case" src="{{ case.img_certificates.url }}" alt="{{ case.name }}">
                        </div>
                        <p>{{ case.name }}</p>
                        <div class="button_style">
                            <a href="/case/{{ case.id }}">
                            <input class="styles-button" type="button" value="Открыть">  
                            </a>                       
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% for category in categories %}
                <div class="style-text-case1">
                    <h1>{{ category.name }}</h1>
                    <p>{{ category.title }}</p>
                </div>
                <div class="caseContainer">
                    {% for case in category.cases.all %}
                    <div class="box-Case">
                        <div class="img-Case">
                            <img class="img_case" src="{{ case.img_certificates.url }}" alt="{{ case.name }}">
                        </div>
                        <p>{{ case.name }}</p>
                        <div class="button_style">
                            <a href="/case/{{ case.id }}">
                                <input class="styles-button" type="button" value="Открыть">  
                            </a>                       
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </main>
        {% include 'main/module/footer.html' %}
    </body>
</html>