<!DOCTYPE html>
<html lang="ru">

    <head>
        {% load static %}
        <title>BIGPencil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="BIGPencil">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/rare.css' %}">
        <!-- <script defer src="/static/js/border-line.js"></script> -->
    </head>
    <body>
        <header class="top-menu">
            <div class="style-header">
                <p><b>big</b>Jackpot</p>
                <div class="button_style" action="about/">
                    <button id="button" class="style-buttons" type="submit">войти</button>
                </div>
            </div>
        </header>

        <main class="styles-main">
            <div class="gif-box">
                <p>фирменный кейс<br>большой джекпот</p>
                <div class="button-style">
                    <button class="styles-button" type="submit">открыть</button>
                </div>
            </div>


            <!-- <div class="tempClass">

            </div>
            <div class="box-text">
                <div class="left-column">
                    <div class="upper-left-square border"></div>
                    <div class="lower-left-square border"></div>
                </div>
                <div class="text_about styles1">
                    <p class="text-about"> Соорганизатором конкурса выступает компания АСКОН, 
                        крупнейший российский разработчик инженерного программного обеспечения. 
                        В рамках проведения конкурса АСКОН разрабатывает конкурсное задание, 
                        оказывает техническую поддержку, участвует в оценке конкурсных работ, 
                        проводит консультационный вебинар для подготовки участников, 
                        предоставляет призы для награждения победителей.
                    </p>
                </div>
                <div class="right-column">
                    <div class="upper-right-square border"></div>
                    <div class="lower-right-square border"></div>
                </div>
            </div> -->

            <div class="boxCase">
                <div class="style-text-case1">
                    <h1>новые кейсы</h1>
                    <p>Самые лучшие призы</p>
                </div>
                <!-- <div class="gradient gradient_4"></div> -->
                <div class="caseContainer">
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                </div>
                <div class="style-text-case1">
                    <h1>популярные кейсы</h1>
                    <p>Самые лучшие призы</p>
                </div>
                <div class="caseContainer">
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                    <div class="box-Case">
                        <div class="img-Case">
                            <img src="" alt="">
                        </div>
                        <p>любовный</p>
                        <div class="button_style">
                            <button class="styles-button" type="submit">открыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="context">
                <div class="infrormation">
                    <div class="call">
                        <div>
                            <img src="" alt="">
                        </div>
                        <div>
                            <p>9999</p>
                            <p>Открыто кейсов</p>
                        </div>
                    </div>
                    <div class="call">
                        <div>
                            <img src="" alt="">
                        </div>
                        <div>
                            <p>9999</p>
                            <p>Пользователей</p>
                        </div>
                    </div>
                </div>
                <div class="link">
                    <p><a>Пользовательское соглашение</a></p>
                    <p><a>Контакты</a></p>
                    <p><a>faq</a></p>
                </div>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </footer>
    </body>

</html>