<!-- main/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/paymants.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"> -->
    <script src="{% static 'JS/sweetalert2@11.js' %}"></script>
</head>
<body>
  {% include 'main/module/header.html' %}
  <div class="paymants_form">
    <h2>пополнение</h2>
    <form class="form_style" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="activ-button-style" type="submit">
        <span class='glowing-txt'>А<span class='faulty-letter'>к</span>тивировать</span></button>
    </form>
    {% if error %}
      <p class="error-p">{{ error }}!</p>
    {% endif %}
  </div>
  {% include 'main/module/footer.html' %}
  {% load sweetify %}
  {% sweetify %}
</body>
</html>