<!-- main/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style-button.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesHome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}"> -->
</head>
<body>
  {% include 'main/module/header.html' %}
    <div class="paymants_form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Активировать</button>
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </div>
  {% include 'main/module/footer.html' %}
</body>
</html>