@font-face {
    font-display: swap;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    src: url('/static/font/TTFirsNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    src: url('/static/font/TTFirsNeue-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 800;
    src: url('/static/font/TTFirsNeue-ExtraBold.ttf') format('truetype');
}

:root{
    --pixel-color-header: rgba(13, 16, 26, 0.96);
    --pixel-color-yelow: #FFD041;
    --pixel-color-white: white;
    --background-color-paymants: #12141F;
    --style-color-form: #1C1D27;
    --glow-color: hsl(186 100% 69%);
    --text-size-16: 1rem;
    --text-size-20: 1.25rem;
    --text-size-24: 1.5rem;
    --text-size-30: 1.875rem;
    --text-size-32: 2rem;
    --text-size-34: 2.125rem;
    --text-size-36: 2.25rem;
}

html *{
    font-family: 'TT Firs Neue', sans-serif;
}

body{
    margin: 0;
}

h1{
    text-transform: uppercase;
    color: white;
}

.top-menu{
    display: flex;
    justify-content: center;
}

.style-header{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    max-height: 80px;
    height: 100%;
    border-radius: 8px;
    margin: 20px 0;
    padding: 0 20px;
    background: var(--pixel-color-header);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(13, 16, 26, 1);
}

.style-header p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.style-header p b{
    color: #ebf61b;
    text-transform: uppercase;
}

.button_style {
    display: flex;
    max-height: 45px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.style_1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.style_key{
    margin: 1.5rem;
}
.home_link{
    text-decoration : none;
    width: 100%;
}

.userbar__user{
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

@media not all and (hover: none) and (pointer:coarse) {
    .userbar__user:hover {
        border-color: #f4ea60;
    }
}