.styles-main{
    display: flex;
    flex-direction: column;
}

.gif-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2vw;
    height: 500px;
    background-image: url("/media/bigfuut.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gif-box p{
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button-style{
    margin: 60px 0;
    height: 45px;
}

.styles-button{
    max-width: 200px !important;
    width: 100% !important;
}

.boxCase{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
    background: linear-gradient(0deg,#28274d,#080726);
}

.style-text-case1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.style-text-case1 p{
    color: rgba(255,255,255, 0.4);
    font-size: 1.5rem;
    margin: 0;
}

.box-Case{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 250px; */
    width: 250px;
    /* max-height: 300px; */
    height: 380px;
    margin: auto 1em;
    transition: transform 0.3s ease;
}

.box-Case:hover{
    transform: scale(1.03);
    /* .styles-button{
        background: #ffffff00;
    }
    .styles-button:hover{
    } */
}

.box-Case p{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
}

.img-Case{
    margin: 10px auto;
    display: flex;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
}

.caseContainer{
    display: flex;
        width: 100%;
        height: 100%;
        max-width: 1699px;
        display: flex;
        flex-wrap: wrap;
}

.caseContainer a{
    text-decoration: none;
}

.caseContainer a:hover{
    .case_btn{
        background: #12141f00;
        border: 3px solid #ffd041;
        color: #fff;
    }
}

.case_btn{
    width: 50% !important;
}

.infrormation{
    display: flex;
    margin: 0 0 60px;
}

.infrormation .call:nth-child(2){
    margin-left: 5em;
}

.call{
    display: flex;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
}

.link > a{
    margin: 6px;
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.link a:nth-child(1){
    color: rgba(129, 32, 255, 1);
}

.link a:nth-child(3){
    text-transform: uppercase;
}

.key-img{
    max-width: 60px;
    width: 100%;
}

.inf-key{
    padding: 0 20px;
}

.inf-key p:nth-child(1){
    font-size: 1.875rem;
    margin: 0;
    font-weight: 700;
    color: #FFFFFF;
}

.inf-key p:nth-child(2){
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

.key-img img{
    width: 100%;
}

.context{
    padding: 6em 5em;
}

.information-case{
    background-image: url("/media/fon_woman.svg");
    background-size: auto;
    object-fit: cover;
}

.img_case{
    width: 100%;
    max-width: 260px;
    height: 100%;
    max-height: 260px;
}

/* //////////// */
/* .box-text{
    position: absolute;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    max-height: 400px;
    margin: 0 35px;
    z-index: 14;
    top: 500px;
    right: 0;
    background-color: #FFFFFF;
}

.left-column, .right-column{
    max-width: 50px;
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.border{
    width: 50px;
    height: 50px;
    transition: var(--transform-object);
}

.upper-left-square{
    border-left: 4px solid rgba(244,164,96, 1);
    border-top: 4px solid rgba(244,164,96, 1);
}

.lower-left-square{
    border-left: 4px solid rgba(244,164,96, 1);
    border-bottom: 4px solid rgba(244,164,96, 1);
}

.upper-right-square{
    border-right: 4px solid rgba(244,164,96, 1);
    border-top: 4px solid rgba(244,164,96, 1);
}

.lower-right-square{
    border-right: 4px solid rgba(244,164,96, 1);
    border-bottom: 4px solid rgba(244,164,96, 1);
}

.tempClass{
    width: 100%;
    height: 400px;
    background-color: beige;
} */
/* //////////////// */