.styles-button {
    appearance: none;
    background-color: #f4ea60;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    max-width: 272px;
    max-height: 56px;
    width: 100%;
    height: 100%;
    will-change: transform;
}

.styles-button:disabled {
    pointer-events: none;
}

/* .styles-button:hover {
    color: white;
    background-color: transparent;
    border: 3px solid #f4ea60;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
} */

/* .styles-button:active {
    box-shadow: none;
    transform: translateY(0);
} */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.style-buttons{
    padding: 11px 28px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 16px 1px rgba(255, 255, 255, 0.6);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    transition: background-color .6s ease;
    overflow: hidden;
}

.style-buttons:focus, .style-buttons:hover{
    background: rgba(252, 110, 81, 86%);
    cursor: pointer;
}

.style-buttons:active{
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.8);
}

/* .activ-button-style{
    max-width: 470px;
    width: 100%;
    max-height: 52px;
    height: 100%;
    padding: 14px;
    margin: 2em 0;
    background: var(--style-color-form);
    border: none;
    color: var(--pixel-color-white);
    border-radius: 10px;
    font-size: var(--text-size-20);
} */

  .activ-button-style {
    position: relative;
    color: var(--pixel-color-white);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--pixel-color-white);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-size: var(--text-size-32);
    letter-spacing: 14px;
    margin: 2em 0;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--pixel-color-white),
      0px 0px 0.5em 0px var(--pixel-color-white);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--pixel-color-white),
      0px 0px 0.5em 0px var(--pixel-color-white);
    box-shadow: inset 0px 0px 0.5em 0px var(--pixel-color-white),
      0px 0px 0.5em 0px var(--pixel-color-white);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--pixel-color-white);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--pixel-color-white);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--pixel-color-white);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .activ-button-style::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--pixel-color-white);
    pointer-events: none;
  }
  
  .activ-button-style::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--pixel-color-white);
    box-shadow: 0 0 2em 0.2em var(--pixel-color-white);
    transition: opacity 100ms linear;
  }
  
  .activ-button-style:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }

  .activ-button-style:hover .glowing-txt {
    animation: none;
  }
  
  .activ-button-style:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .activ-button-style:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .activ-button-style:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .activ-button-style{
      font-size: 1em;
    }
  }