<footer>
    <div class="context">
        <div class="infrormation">
            <div class="call">
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p>9999</p>
                    <p>Открыто кейсов</p>
                </div>
            </div>
            <div class="call">
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p>9999</p>
                    <p>Пользователей</p>
                </div>
            </div>
        </div>
        <div class="link">
            <p><a>Пользовательское соглашение</a></p>
            <p><a>Контакты</a></p>
            <p><a>faq</a></p>
        </div>
    </div>
    <div>
        <img src="" alt="">
    </div>
</footer>