<footer class="information-case">
    <div class="context">
        <div class="infrormation">
            <div class="call">
                <div class="key-img">
                    <img src="/media/ключ.webp" alt="key">
                </div>
                <div class="inf-key">
                    <p>{{ user_items }}</p>
                    <p>Открыто кейсов</p>
                </div>
            </div>
            <div class="call">
                <div class="key-img">
                    <img src="/media/пользовател.webp" alt="profil">
                </div>
                <div class="inf-key">
                    <p>{{ user_count }}</p>
                    <p>Пользователей</p>
                </div>
            </div>
        </div>
        <div class="link">
            <a href="#">Пользовательское соглашение</a>
            <a href="#">Контакты</a>
            <a href="#">faq</a>
        </div>
    </div>
</footer>